# The Museum of Modern Art (MoMA) 
We going to work with data about the art in the Museum of Modern Art (MoMA). MoMA, a museum in New York City, has one of the largest collections of modern art in the world.

MoMA publishes several data sets in their GitHub repository. We'll work with a version of their artwork data set that has been prepared for this mission. We have prepared the data for teaching purposes and sampled the size of the data set down from over 135,000 rows to a more manageable 17,000 rows.

MoMA doesn't provide a data dictionary for the data, but we have provided an explanation of each column for you:

- Title: The title of the artwork.
- Artist: The name of the artist who created the artwork.
- Nationality: The nationality of the artist.
- BeginDate: The year in which the artist was born.
- EndDate: The year in which the artist died.
- Gender: The gender of the artist.
- Date: The date that the artwork was created.
- Department: The department inside MoMA to which the artwork belongs.

In [1]:
# import the reader function from the csv module
from csv import reader

# use the python built-in function open()
# to open the children.csv file
opened_file = open('artworks.csv')

# use csv.reader() to parse the data from
# the opened file
read_file = reader(opened_file)

# use list() to convert the read file
# into a list of lists format
moma = list(read_file)

# remove the first row of the data, which
# contains the column names

In [2]:
# removing the parentheses from both the Nationality and Gender columns
for row in moma:
    nationality = row[2]
    nationality = nationality.replace("(", "")
    nationality = nationality.replace(")", "")
    row[2] = nationality
  
    gender = row[5]
    gender = gender.replace("(", "")
    gender = gender.replace(")", "")
    row[5] = gender
    
print(moma[300][2])
print(moma[400][2])
print(moma[500][2])
print("\n")
print(moma[300][5])
print(moma[330][5])
print(moma[500][5])

American
Russian
American


Male
Female
Male

The str.title () method returns a copy of the string with the first letter of each word transformed to uppercase (also known as title case).

In [4]:
for row in moma:
    gender = row[5]
    
     # convert the gender to title case
    gender = gender.title()
    
    # if there is no gender, set
    # a descriptive value
    if not gender:
        gender = 'Gender Unknown/Other'
    
    row[5] = gender
    
    
    nationality = row[2]
    
    nationality = nationality.title()
    
    if not nationality:
        nationality = 'Nationality Unknown'
    
    row[2] = nationality
    
# print(moma)

In [5]:
def clean_and_convert(date):
    # check that we don't have an empty string
    if date != "":
        # move the rest of the function inside
        # the if statement
        date = date.replace("(", "")
        date = date.replace(")", "")
        date = int(date)
    return date
for row in moma:
    birth_date = row[3]
    death_date = row[4]
   
    birth_date = clean_and_convert(birth_date)
    death_date = clean_and_convert(death_date)
    
    row[3] = birth_date
    row[4] = death_date

ValueError: invalid literal for int() with base 10: 'BeginDate'